<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/multisig/"></base>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Multisig Coordinator">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Multisig Coordinator for Stellar</title>

    <!-- Bootstrap core CSS -->
    <link href="frontend/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="frontend/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="frontend/css/custom.css" rel="stylesheet">
    <link href="frontend/css/json-formatter.css" rel="stylesheet">

    <script src="frontend/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
      <!-- Start Single Page Apps for GitHub Pages -->
    <script type="text/javascript">
      // Single Page Apps for GitHub Pages
      // https://github.com/rafrex/spa-github-pages
      // Copyright (c) 2016 Rafael Pedicini, licensed under the MIT License
      // ----------------------------------------------------------------------
      // This script checks to see if a redirect is present in the query string
      // and converts it back into the correct url and adds it to the
      // browser's history using window.history.replaceState(...),
      // which won't cause the browser to attempt to load the new url.
      // When the single page app is loaded further down in this file,
      // the correct url will be waiting in the browser's history for
      // the single page app to route accordingly.
      (function(l) {
        if (l.search) {
          var q = {};
          l.search.slice(1).split('&').forEach(function(v) {
            var a = v.split('=');
            q[a[0]] = a.slice(1).join('=').replace(/~and~/g, '&');
          });
          if (q.p !== undefined) {
            window.history.replaceState(null, null,
              l.pathname.slice(0, -1) + (q.p || '') +
              (q.q ? ('?' + q.q) : '') +
              l.hash
            );
          }
        }
      }(window.location))
    </script>
    <!-- End Single Page Apps for GitHub Pages -->
  </head>

  <body ng-app="multisig">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ui-sref="home">Multisig Coordinator</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a ui-sref="home">Home</a></li>
            <li><a ui-sref="create">Transaction Builder</a></li>
            <li><a href="#contact">Transactions</a></li>
            
          </ul>
          <ul class="nav navbar-nav navbar-right" ng-controller="navController" ng-init="init()">
            <li><input class="form-control " type="text" ng-model="qs" placeholder="Enter Transaction Tag" /></li>
            <li><span class="btn btn-info" ng-click="search()">Search</span></li>
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container" ui-view="pgContainer">

      <!-- Main component for a primary marketing message or call to action -->
      

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="frontend/js/jquery.min.js"><\/script>')</script>
    <script src="frontend/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="frontend/js/ie10-viewport-bug-workaround.js"></script>

    <script src="frontend/js/stellar-sdk.js"></script>

    <script type="text/javascript" src="frontend/js/angular/angular.js"></script>
    <script type="text/javascript" src="frontend/js/angular/angular-ui-router.js"></script>
    <script type="text/javascript" src="frontend/js/angular/angular-random-string.js"></script>
    <script type="text/javascript" src="frontend/js/angular/json-formatter.js"></script>
    <script type="text/javascript" src="frontend/js/angular/loading-bar.min.js"></script>
   
    <script type="text/javascript" src="frontend/js/app/services/api.service.js"></script>
    <script type="text/javascript" src="frontend/js/app/app.js"></script>
   
    <script type="text/javascript" src="frontend/js/app/tx/create.controller.js"></script>
    <script type="text/javascript" src="frontend/js/app/tx/home.controller.js"></script>
    <script type="text/javascript" src="frontend/js/app/tx/tx.controller.js"></script>
    <script type="text/javascript" src="frontend/js/app/tx/nav.controller.js"></script>
    <script type="text/javascript" src="frontend/js/app/signers/addsigner.controller.js"></script>


  </body>
</html>
